<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Privacy Policy for WayBNB</h3>
        <p><strong>Last updated: September 13, 2025</strong></p>
        
        <p>Welcome to WayBNB! We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us.</p>

        <h4>1. INFORMATION WE COLLECT</h4>
        <p>We collect personal information that you voluntarily provide to us when you register on the website, express an interest in obtaining information about us or our products and services, when you participate in activities on the website or otherwise when you contact us.</p>
        <p>The personal information that we collect depends on the context of your interactions with us and the website, the choices you make and the products and features you use. The personal information we collect may include the following: name, phone number, email address, mailing address, username, passwords, and other similar information.</p>

        <h4>2. HOW WE USE YOUR INFORMATION</h4>
        <p>We use personal information collected via our website for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations.</p>

        <h4>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h4>
        <p>We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</p>

        </div>
</div>